<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="SourceSearch"
            inject="true"
            category="org.eclipse.ui"
            class="sionea.sourcesearch.ui.SourceSearchView"
            icon="icons/search.gif"
            allowMultiple="false"
            id="source-search.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="sionea.sourcesearch.handler.SearchResultCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
      <with variable="activePartId">
         <equals value="source-search.view"/>
      </with>
   </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="sionea.sourcesearch.handler.OpenEditorHandler"
            id="sionea.sourcesearch.Editor.UserCommand"
            name="Call UserEditor">
      </command>
      
     </extension>
   <extension
         id="sourcesearch.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="line">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            class="sionea.sourcesearch.ui.ImageProvider"
            id="source-search.imageprovider"
            markertype="sourcesearch.marker">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="sourcesearch.marker"
            name="source-search.type">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="source-search.type"
            colorPreferenceKey="sourceSearchResultIndicationColor"
            colorPreferenceValue="206,204,247"
            highlightPreferenceKey="sourceSearchResultHighlighting"
            highlightPreferenceValue="true"
            icon="icons/line_match.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isSourceSearchResultGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isSourceSearchResultGoToPreviousNavigationTarget"
            label="Source search result"
            overviewRulerPreferenceKey="sourceSearchResultIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showSourceSearchResultInNextPrevDropdownToolbarAction"
            textPreferenceKey="sourceSearchResultIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="sourceSearchResultTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="sourceSearchResultIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

</plugin>
