<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="SourceSearch"
            inject="true"
            category="org.eclipse.ui"
            class="sionea.sourcesearch.ui.SourceSearchView"
            icon="icons/search.gif"
            allowMultiple="false"
            id="source-search.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="sionea.sourcesearch.handler.SearchResultCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
      <with variable="activePartId">
         <equals value="source-search.view"/>
      </with>
   </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="sionea.sourcesearch.handler.OpenEditorHandler"
            id="sionea.sourcesearch.Editor.UserCommand"
            name="Call UserEditor">
      </command>
      
     </extension>

</plugin>
